/*
  style.css
  Feel free to change any of this CSS for your own purposes but don't waste time!
*/

/* Using font-size: larger to make things pop. Feel free to change. */
html {
    background-image: linear-gradient(  rgb(255, 153, 187) , rgb(226, 114, 243))
}
html, body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3%;
    margin-right:3%;
    color:rgb(64, 38, 75);
}
.container {
    background-color:rgb(255, 232, 242);
    margin-top:4%;
    margin-bottom:5%;
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3%;
    font-size: larger;
    border-style:solid;
    border-color: rgb(106, 53, 114);
    border-width: 2px;
}

hr {
    border-top: 1px dashed rgb(106, 53, 114);
}

.title {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, rgb(255, 153, 170), #ff599c, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 3%;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background:  rgb(255, 171, 185);
    border-radius: 5px;
    border-color:  rgb(106, 53, 114);
    border-style: solid;
    border-width: 2px;
    color:rgb(53, 23, 65);
    padding: 5px 5px 5px 5px;
}

button:hover {
    background: linear-gradient(to right,  rgb(213, 94, 232)  0%, rgb(255, 153, 170) 100%);
    color:rgb(39, 7, 51);
}
/* Make the font a bit bigger on buttons and input boxes */
button, input {
    font-size: large;
    color:rgb(53, 23, 65);
    border-width: 1.75px;
    border-style: solid;
    border-color:  rgb(108, 71, 113);
    border-radius:5px;
 
}

/* Align the geometry shapes with the title a little better */
.heading_img {
    vertical-align: auto;
}

/* Rounding and Quadratics input number boxes. Add class="short_number" to your input boxes */
.short_number {
    width: 50px;
}